/* #france::before,
#france::after {
    content: "";
    width: 30px;
    position: absolute;
    top: 0;
    bottom: 0;
}

#france::before {
    background-color: #0E1F56;
    left: -30px;
}

#france::after {
    background-color: #700303;
    right: -30px;
}

#france {
    width: 30px;
    height: 60px;
    background-color: white;
    position: relative;
    left: 30px;
} */

#allemagne {
    width: 90px;
    height: 20px;
    background-color: red;
    position: relative;
    top: 20px;
}


.flag {
    margin-bottom: 40px;
}


.flag:first-of-type::before,
.flag:first-of-type::after {
    content: "";
    width: 30px;
    position: absolute;
    top: 0;
    bottom: 0;
}

.flag:first-of-type::before {
    background-color: #0E1F56;
    left: -30px;
}

.flag:first-of-type::after {
    background-color: #700303;
    right: -30px;
}

.flag:first-of-type {
    width: 30px;
    height: 60px;
    background-color: white;
    position: relative;
    left: 30px;
}