* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

/* ---------------------------------------------------- */

nav {
    max-width: 1150px;
    margin: auto;
    background-color: black;
    display: flex;
    align-items: center;
    padding: 30px 0;
}

main {
    max-width: 1150px;
    margin: auto;
}

main .text {
    text-align: justify;
}

main img {
    width: 300px;
}

/* ---------------------------------------------------- */


h1,
h2 {
    margin: 40px 0;
}

ul {
    list-style-type: none;
    margin-left: auto;
}

li {
    display: inline;
    padding-right: 20px;
}

a {
    text-decoration: none;
}


/* ---------------------------------------------------- */

.logo {
    float: left;
    border: 1px solid white;
    padding: 10px 20px;
    margin-left: 1em;
}

.logo,
a {
    color: white;
}

.justeLeTexte {
    text-align: justify;
}

.imageFlottanteDroite {
    float: right;
    margin-left: 1em;
}

.imageFlottanteGauche {
    float: left;
    margin-right: 1em;
}