/*--- TABLE DES STYLES ---*/
/*                        */
/*  BODY-MAIN-HEADER-NAV  */
/*       FOOTER           */
/*   CONTENU GENERIQUE    */
/*        CLASSES         */


* {
    margin: 0;
}


/* ------------------------------------------------- */


body {
    font-family: sans-serif;
    max-width: 1150px;
    margin: 0 auto;
}

/* main,
header {
    max-width: 1150px;
    margin: 0 auto;
} */

.container {
    background-color: #F0F0F0;
    padding: 50px 40px 50px;
    box-sizing: border-box;
}

nav {
    background-color: #359E7B;
    padding-right: 25px;
}


/* ------------------------------------------------- */


footer {
    background-color: darkgray;
    padding: 20px;
    text-align: center;
}

footer a {
    color: #FFF;
}


/* ------------------------------------------------- */


ul {
    list-style-type: none;
    text-align: right;
}

li {
    display: inline-block;
}

li a {
    color: #F6F6F6;
    padding: 30px 15px;
    display: inline-block;
}

h1 {
    color: #359E7B;
}

h2 {
    text-decoration: underline;
}

h1,
h2,
h3 {
    text-transform: uppercase;
}

h1,
h2 {
    text-align: center;
    margin: 50px 0;
}

h2,
h3 {
    color: #006083;
}


form {
    max-width: 700px;
    margin: 0 auto;
}

input,
textarea {
    font-size: 25px;
    /* ajout perso */
    box-sizing: border-box;
    border: none;
    /*  */
    border-bottom: 2px solid #359E7B;
    padding: 15px;
    margin-bottom: 20px;
    width: 100%;
}

textarea {
    resize: none;
    height: 300px;
    border: 2px solid #359E7B;
}

/*  */
p {
    text-align: justify;
}

/*  */


/* ------------------------------------------------- */


.dateTime {
    color: grey;
    font-weight: bold;
    /* ajout personnel */
    margin: 10px 0;
}

.moreAndMore,
.envoi {
    background-color: #359E7B;
    color: #FFF;
    border-radius: 5px;
}

.link_more {
    display: block;
    margin-left: auto;
    width: fit-content;
    color: #359E7B;
    /*  */
    margin-bottom: 15px;
}

.moreAndMore {
    display: block;
    max-width: 250px;
    padding: 15px;
    margin: 40px auto 0;
    text-align: center;
}

.envoi {
    border: none;
    /* width: 100%; */
    cursor: pointer;
}


/* ------------------------------------------------- */


input[type="text"]:focus,
textarea:focus {
    outline: none;
    box-shadow: 5px 5px 5px #359E7B;
}