* {
    margin: 0;
}


/* ------------------------------------------------- */


body {
    background-color: #F6F6F6;
    font-family: sans-serif;
}

main,
header {
    max-width: 1150px;
    margin: 0 auto;
}


/* ------------------------------------------------- */

footer {
    background-color: darkgray;
    margin-top: 40px;
}

footer a {
    color: #FFF;
}


/* ------------------------------------------------- */


ul {
    list-style-type: none;
    text-align: center;
}

li {
    display: inline-block;
}

h1,
h2,
h3 {
    text-transform: uppercase;
}

h1,
h2 {
    text-align: center;
    margin: 50px 0;
}

h2,
h3 {
    color: #006083;
}

h2 {
    text-decoration: underline;
}

h1 {
    color: #359E7B;
}

form {
    max-width: 700px;
    margin: 0 auto;
}

input,
textarea {
    font-size: 25px;
    border-bottom: 2px solid #359E7B;
    padding: 15px;
    /* margin-bottom: 20px; */
    /* pourquoi max-width ne fait rien */
    /* width: 100%; */
    max-width: 100%;
    margin: 0 auto 20px;
}

textarea {
    resize: none;
}

/* ------------------------------------------------- */


.dateTime {
    color: grey;
    font-weight: bold;
}

.link_more {
    display: block;
    margin-left: auto;
    width: fit-content;
    color: #359E7B;
}

.moreAndMore {
    display: block;
    background-color: #359E7B;
    color: #FFF;
    max-width: 250px;
    padding: 15px;
    margin: 40px auto 0;
    border-radius: 5px;
    text-align: center;
}