* {
    margin: 0;
}

/* --------------------------------------- */


body {
    font-family: Roboto, sans-serif;
    background-color: #F6F6F6;
}

header {
    background-color: #061622;
    padding: 80px 0;
}

nav {
    border-top: 10px solid #F6F6F6;
}

main {
    max-width: 1150px;
    margin: 0 auto;
}

footer {
    max-width: 100%;
    background-color: #061622;
    margin-top: 80px;
    padding: 20px 0;
    text-align: center;
    color: #FFF;
}

/* --------------------------------------- */

h1,
h2 {
    margin: 0 auto;
}

h1 {
    color: #FFF;
    font-size: 55px;
    max-width: 1150px;
    text-align: justify;
}

h2 {
    font-size: 35px;
    margin: 80px 0 40px;
    position: relative;
}

h3 {
    font-size: 25px;
    margin-bottom: 25px;
}

ul {
    max-width: 1150px;
    margin: 0 auto;
    display: flex;
    list-style-type: none;
    justify-content: center;
    padding: 0;
}

li {
    width: 25%;
}

main img {
    width: 100%;
    height: 350px;
    border-radius: 10px;
    margin: 40px 0 20px;
    /* maintient son ratio d'affichage tout en remplissant toute la boîte de contenu */
    object-fit: cover;
}

article {
    position: relative;
}

main article {
    margin-top: 40px;
}

article p {
    margin-top: 20px;
    padding-left: 40px;
}

a {
    color: #3C93F7;
    text-decoration: none;
}

li a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    color: #FFF;
    padding: 0 20px;
}

li a img {
    width: 25px;
    margin-right: 10px;
    filter: invert(100%);
}

footer a {
    color: #FFF;
}

article a[href^="https"] {
    color: #0E1F56;
}

main a[rel="no-follow"] {
    font-weight: 900;
}


/* --------------------------------------- */

a:hover {
    text-decoration: underline;
}

article:first-of-type {
    color: #0E1F56
}

article:nth-of-type(2) {
    color: #E52D27;
}

article:nth-of-type(3) {
    color: #55ACEE;
}

article:last-of-type {
    color: #C13584;
}

nav li a {
    padding: 30px 0;
}

nav li:first-of-type a {
    background-color: #0E1F56;
    border-radius: 10px 0 0 10px;
}

nav li:nth-last-of-type(2) a {
    background-color: #E52D27;
}

nav li:nth-last-of-type(3) a {
    background-color: #55ACEE;
}

nav li:last-of-type a {
    background-color: #C13584;
    border-radius: 0 10px 10px 0;
}

nav li a:hover {
    background-color: #B318FF;
}

h2::before,
h2::after {
    content: "";
    width: 5px;
    background-color: #0E1F56;
    position: absolute;
    top: 0;
    bottom: 0;
}

h2::before {
    left: -30px;
}

h2::after {
    right: -30px;
}

article::before {
    content: "";
    width: 5px;
    background-color: #0E1F56;
    position: absolute;
    top: 60px;
    bottom: 5px;
    left: 0;
}

/* --------------------------------------- */

main .intro {
    margin-top: 20px;
}

.reseau {
    font-weight: 900;
}